#playButtons {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

#playButtons a {
    font-size: 1rem;
    padding: 10px 20px;
    background: none;
    border: 2px solid var(--main-dark);
    border-radius: 10px;
    align-content: center;
    text-align: center;
}